In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
x_train = pd.read_csv("train.csv")

In [4]:
x_train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [5]:
x_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
l1 = ['PassengerId','Name','Ticket','Cabin', 'Embarked']
x_train.drop(l1, axis=1, inplace=True)

In [7]:
x_train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [8]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.9+ KB

In [9]:
x_train.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [10]:
#emb_fill = x_train["Embarked"].mode()
x_train["Age"].fillna(x_train["Age"].mean(), inplace=True)
#x_train["Embarked"].fillna(emb_fill, inplace=True)

In [11]:
x_train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [12]:
x_train.shape

(891, 7)

In [13]:
x_train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le_s = LabelEncoder()
x_train["Sex"] = le_s.fit_transform(x_train["Sex"])

In [16]:
x_train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [17]:
X = x_train.iloc[:,1:].values
Y = x_train.iloc[:,0].values

In [18]:
X.shape

(891, 6)

In [19]:
Y.shape

(891,)

In [20]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [21]:
X = sc.fit_transform(X)

In [22]:
X[:5]

array([[ 0.82737724,  0.73769513, -0.5924806 ,  0.43279337, -0.47367361,
        -0.50244517],
       [-1.56610693, -1.35557354,  0.63878901,  0.43279337, -0.47367361,
         0.78684529],
       [ 0.82737724, -1.35557354, -0.2846632 , -0.4745452 , -0.47367361,
        -0.48885426],
       [-1.56610693, -1.35557354,  0.40792596,  0.43279337, -0.47367361,
         0.42073024],
       [ 0.82737724,  0.73769513,  0.40792596, -0.4745452 , -0.47367361,
        -0.48633742]])

In [23]:
from sklearn.linear_model import LogisticRegression

In [24]:
clf = LogisticRegression(solver='newton-cg', n_jobs=-1)

In [25]:
clf.fit(X,Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=-1, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
y_pred = clf.predict(X)

In [27]:
clf.score(X,Y)

0.7991021324354658

SVM

In [28]:
from sklearn.svm import SVC

In [42]:
clf1 = SVC(C=100, gamma=1)

In [43]:
clf1.fit(X,Y)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=1, kernel='rbf', max_iter=-1,
    probability=False, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [44]:
pred_y1 = clf1.predict(X)

In [45]:
clf1.score(X,Y)

0.8978675645342312

In [46]:

pred_y1 = pd.DataFrame(pred_y1)

In [47]:
pred_y1.to_csv("answer")